doctype html
html 
	head 
		title Cut Paste Copy
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="/assets/css/index.css")
		link(rel="shortcut icon" href="favicon.ico")
			
		body.content
			a(href="#").toggle.animated.slideInLeft
				i.fa.fa-bars#toggle
				
			.nav-container
				h1.cpc-logo cut paste copy

				nav
					a(href="/")
						i.fa.fa-home
						|   Home
					a(href="contact.html") 
						i.fa.fa-paper-plane-o
						|  Contact Us
					a(href="projects.html")
						i.fa.fa-wrench
						|  Projects

				a(href="mailto:nmhscutpastecopy@gmail.com").email-link +Email Us
			section.projects-section
				- var assetsLocation = "assets/images/projects/"
				mixin project-item(itemImage, itemName, itemDescription, itemDate, itemSize)
					a(href="#{assetsLocation}#{itemImage}" target="_blank").link
						.project-item-wrap.animated.slideInRight
							.image-container(style="background-image: url(#{assetsLocation}#{itemImage});")
							.image-overlay
								.meta
									.name #{itemName}
									.description #{itemDescription}.
									.instructions 
										strong *Hint*:
										|  Click to Enlarge Image.
									.itemDate #{itemDate}
						
				+project-item("cpc-logo.png", "CPC Logo", "The Cut Paste Copy Logo", "November 5th, 2015")
				+project-item("namesposter.png", "Names Poster", "The Names Poster for Names Day", "October 20th, 2015")
				+project-item("tommywarhol.png", "Tommy Warhol Effect", "An attempt at the Tommy Warhol Effect", "October 11th, 2015")
				+project-item("cpcbusinesscard.png", "CPC Offical Business Card", "Our custom made business card", "October 3th, 2015")
				+project-item("vangogh.png", "Vangogh Effect", "An attempt at an Vangogh-like-effect with an image of a cat", "October 22th, 2015")
				+project-item("comicportrait.png", "A Comic Portrait Effect", "An attempt at a comic style portrait", "September 24th, 2015")
				+project-item("Animal-Welfare-Society-Poster.jpg", "Animal Welfare Society Poster", "Animal Welfare Adoption Poster", "Feburary 29th, 2016")
				+project-item("Cookbook-Design.jpg", "Cut, Paste, and Copy's Cookbook Design", "Our design for our annual cookbook party booklet", "January, 15th, 2016")
				+project-item("front_color_2.png", "Christmas Carol Booklet Cover", "New Milford Commission on the Arts Annual Carol Sings Booklet cover", "March 15th, 2016")
				+project-item("back_color.png", "Christmas Carol Booklet Back", "New Milford Commission on the Arts Annual Carol Sings Booklet back", "March 15th, 2016")
				+project-item("Good_Life_OneRepublic_front.png", "Good Life by OneRepublic Album Cover Art", "A album artwork design", "December 5th, 2015")
				+project-item("Good_Life_OneRepublic_back.png", "Good Life by OneRepublic Album Back Art", "A album artwork design", "December 5th, 2015")
				+project-item("croc-frog-hybrid.png", "Crocirog 1", "Version 1 of a frog and a crocadile hybrid", "March 10th, 2016")
				+project-item("croc-frog-hybrid_2.png", "Crocirog 2", "Version 2 of a frog and a crocadile hybrid", "March 10th, 2016")
			script(src="/vendors/jquery/dist/jquery.min.js")
			script(src="/assets/js/functions.js")
